.simply-countdown {
  overflow: hidden;
  display: flexbox;
  font-family: "Arial", sans-serif;
  position: relative;
}
.simply-countdown > .simply-section {
  width: 50px;
  height: 50px;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin: 10px;
  background: var(--pink);
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  display: block;
  text-align: center;
}

.simply-countdown > .simply-section .simply-amount {
    font-size: 1.6rem;
}

/* Media Query */
/* Extra Large */
@media (max-width: 1200px) {
    .home .heart {
    transform: translateX(-50%) translateY(45px);

    }

    .timeline li .timeline-img {
        left: 41%;

    }

}
/* Laptop */
@media (max-width: 992px){
    html{
        font-size: 75%;
    }
    .simply-countdown > .simply-section  {
        padding: 60px;
    }
    .home .heart {
        display: none;
        }
    .timeline::before {
        left: 65px;
    }
    .timeline li .timeline-img {
        left: -2%;
        /* margin-left: 40px; */
        top: 16px;
    }
    .timeline li .timeline-panel {
        width: calc(100% - 200px);
        float: right;
    }
    .timeline li .timeline-panel::before {
        border-left-width: 0;
        border-right-width: 15px;
        top: 65px;
        left: -15px;
        right: auto;
    }
    .timeline li .timeline-panel::after {
        border-left-width: 0;
        border-right-width: 13px;
        top: 66px;
        left: -13px;
        right: auto;
    }
    
    }
    
    /* Tab */
    @media (max-width: 768px){
      html{
        font-size: 65%;
      } 
      .simply-countdown > .simply-section  {
        padding: 45px;
        margin: 8px;
    } 
    .my-nav .nav-link{
        font-size: 2rem;
    }
  

    .timeline li .timeline-img {
        width: 140px;
        height: 140px;
        left: -1%;
        /* left: 8px; */
    }
   
    .home .bismillah span {
        font-size: 27px;
    }
    .gift .gift-card .logo-bank {
        margin-left: 10px;
    }

    .gift .gift-card .bca {
        margin-top: 2rem;
    }
    
    }
    
    /* Mobile */
    @media (max-width: 576px){
        html{
            font-size: 60%;
        }
        .simply-countdown .simply-section {
            padding: 35px;
            margin: 7px;
        }
        .my-nav .nav-link{
            font-size: 2rem;
        }
      
        .timeline li .timeline-img {
            width: 100px;
            height: 100px;
            left: 4%;
        }

        .timeline li .timeline-panel {
            width: 60%;
            transform: translateX(-10px);
        }

        .timeline li .timeline-panel::before {
            top: 45px;
        }

        .timeline li .timeline-panel::after {
            top: 46px;
        }
      
    }